<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<title>DivaSpa</title>

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#f8f8f8">
	<tr>
		<td></td>
		<td class="header container" >

				<div class="content">
				<table bgcolor="#f8f8f8">
					<tr>
						<td><img width="100px" height="100px" src="https://lh3.googleusercontent.com/fTUDBzxq2BjBce4lgf-NyMIhy0gy7HBxjQzZtWnvCOkiwiZXIhH9FAamj1tKZBKt-tCtZCBNmY9ymPE4GPT6F8oYJ67I_P3vWIdpQ7CIOTWYv1yo89eV25VKqgHnilkufoAgniy6-okaQms3KFxMsCSeRLFtSNRx5H5-H8RlkFx5IeGxWIBDADUqkRf71TjLQPkoKqk5X2mFxiCSi38QiYzf2CEqyhAKC09Wzgj3fVKKkLYPNYmDiuZzETY0ksz0dTPAWimL-QYnY1EU1W1GtknxOSYNZnwTHlOXS8YkOXKmNcQwAIGwbQ8iciFH2yExDPCjcvv1x_lGqEGXushmthsmjFH0EDNpNvT3NuPljZUMROvbbvRuLSDMgiKXBmDFLQuQdkDVRZgtp9K7m3BU8lCAQt7wnHc5PNxoyfjURJHavIe935FrVjt2N4UhxT6Md3EgqcxTRySOkon2fEUwZUt9rwomn04qMZwjBy5N1-y6SsDm_H9JiZRCf7CvzEN771ajIAimZ_LZzUuOH6VPHlS3clEMDy2NvaA9svyCp49FOohLQ00-WjBNgLZAgG42=w2284-h1516" /></td>
						<td align="right" id="frase">La mejor frase para tu negocio</td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hola, <%= nombre%></h3>
						<p class="lead">Se ha realizado una reservacion via web a nombre de <%= nombre%> en DivaSpa. </p>
						<p>La reserva se la selecciono para la fecha <%= fecha%> a las <%= hora%> con el empleado <%= empleado%> para un servicio de tipo <%= descripcion%>.
						La reserva puede cancelarse hasta 24 horas de la fecha establacida.
					</p>
						<!-- Callout Panel -->
						<p class="callout">
							Este es un email generado al momento de la reserva si usted no es quien la realizo por favor contactar a <a href="localhost:8080/src/"> DivaSpa &raquo;</a>
						</p><!-- /Callout Panel -->

						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>

									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Conectate a nuestras redes:</h5>
												<p class=""><a href="#" class="soc-btn fb">Facebook</a> <a href="#" class="soc-btn tw">Twitter</a></p>


											</td>
										</tr>
									</table><!-- /column 1 -->

									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Informacion de Contacto:</h5>
												<p>Telefono: <strong>(593) 9082479989</strong><br/>
                Email: <strong><a href="emailto:divaspa8@gmail.com">divaspa8@gmail.com</a></strong></p>

											</td>
										</tr>
									</table><!-- /column 2 -->

									<span class="clear"></span>

								</td>
							</tr>
						</table><!-- /social & contact -->

					</td>
				</tr>
			</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terminos</a> |
							<a href="#">Privacidad</a> |
							<a href="localhost:8080/"><unsubscribe>Suscribete</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
